body{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 50%;
    }
 .half-width img {width: 100%;
padding-left: 20px;}
section{ display: flex;
padding: 5%;}
h1{ font-size: 50px;}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(red, orange);
    padding: 10px 40px ;
    color:whitesmoke;
    font-size: 110%;
    border-radius: 25px;
}
.bg { background-image:url(images/female/images/shapes/Frame\ 57.jpg)}
.new-text{
    text-align: center;
}
.column{
    float: left;
    padding: 20px 50px;
    text-align: center;
    width: 80%;
    height: 90%;
    display: block;
}
.card{
    
    padding: 40px;
    padding-bottom: 50px;
    background-color: whitesmoke;
    box-shadow: rgb(131, 135, 138);
    border-radius: 5%;
   
}
.gandu{
    width: 100%;
    padding-right:40% ;
}
footer {
    text-align: center;
    background-color: slategray;
    padding: 20px;
    margin-top: 20px;
  
}